
.paper {
  padding: 35px 0;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}

.form {
  width: '100%';
}
.submit {
  margin: 15px 0 !important;
}

.titleT{
  margin: 10px 0;
}

.buttonProgress {
  position: 'absolute';
}

.buttonSuccess{
  background-color: rgb(27, 167, 27);
}

.buttonSuccess:hover{
  background-color: rgb(26, 170, 26);
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: 'relative';
}